</html>
<div class="container">
  <footer>
      <p>&copy; 2024 EJS Intro</p>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/books/enter_book_info">New Book</a></li>
      </ul>
  </footer>
</div>