<!DOCTYPE html> 
<html> 
<head> 
	<title><%= page_title %></title> 

	<style type="text/css" media="screen"> 
		body { 
			background-color: skyblue; 
			text-decoration-color: white; 
		}
	</style> 
</head> 