<!DOCTYPE html> 
<html> 
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>
	<link rel='stylesheet' href='/stylesheets/header.css' />
</head>

<body>
	<header class="site-header">
		<!-- Displays the logo -->
		<div class="logo">
			<nav class="a">
				<a href="/<%= token ? '?session=' + token : '' %>" class="logo-link">
					<img src="../images/logo.png" alt="Logo">
				</a>
			</nav>
		</div>
		
		<!-- Displays the add product button if logged in as admin -->
		<% if (admin) { %>
			<nav class="admin-content">
				<a href="/add-product<%= token ? '?session=' + token : '' %>" >Add Product</a>
			</div>
		<% } %>
		
		<!-- Displays the logout button if token exists -->
		<% if (token) { %>
			<div class="action-items">
				<a href="/" class="logout-link">Log Out</a>
				<!-- Displays the cart button if not an admin -->
				<% if (!admin) { %>
					<a href="/cart<%= token ? '?session=' + token : '' %>" class="cart">
						<img src="../images/shopping-cart.png" alt="Cart">
					</a>
				<% } %>
			</div>
		<!-- Displays the sign in dropdown if token doesn't exist -->
		<% } else { %>
			<div class="action-items">
				<div class="dropdown">
					<button class="dropbtn">Sign In</button>
					<div class="dropdown-content">
						<a href="/create-account">Create Account</a>
						<a href="/login">Log In</a>
					</div>
				</div>
			</div>
		<% } %>
	</header>
</body>
</html>