<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= info %></h2>
    <p>Welcome to my EJS <%= title %></p>


    <img src="cow.jpg">
  </body>
</html>
