body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .checkout-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px; /* Adjust the width as necessary */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  
  .pay-button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Space from the last input to the button */
  }
  
  .pay-button:hover {
    background-color: #45a049;
  }
  