body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: hsl(0, 0%, 97%);
}

.shopping-cart-container {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-items {
  display: flex;
  flex-direction: column; /* Ensure items stack vertically */
}

.cart-item {
  display: flex; /* Aligns the cart item image and details side by side */
  align-items: center; /* Vertically centers the content in the cart item */
  border-bottom: 1px solid #e1e1e1; /* Separates each cart item visually */
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cart-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.item-image {
  width: 100px; /* Adjust as necessary */
  height: auto;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
}

.item-title, .item-price, .item-quantity {
  margin-bottom: 5px;
}

.item-quantity {
  display: flex;
  align-items: center;
}

.item-quantity label {
  margin-right: 10px;
}

.item-quantity select {
  padding: 5px;
  margin-right: 10px;
}

.remove-item-btn {
  cursor: pointer;
  height: 20px;
  width: auto;
}

.remove-item-btn img {
  height: 100%; /* Make sure the trash can icon fills the button */
  width: auto; /* Allow the width to adjust proportionally */
}

.order-summary {
  order: 2;
  background: #f1f1f1;
  border-radius: 4px;
  padding: 20px;
  margin-top: auto;
}

.order-summary h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.checkout-btn {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.checkout-btn:hover {
  background-color: #444;
}

  
