<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>Checkout</title>
    </head>
    <body>
        <p>this is my add product page :3</p>
        <h1 style="color:red">ADMINS ONLY!!!</h1>
    </body>
</html>