<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>Checkout</title>
    </head>
    <body>
        <p>this is my edit product page, normies STAY OUT!!!</p>
    </body>
</html>