<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>

<head>
  <title>
    Home Page
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <img src="/images/cow.gif">

</body>

</html>
