<!DOCTYPE html> 
<html> 
<head> 
	<title>Home Page</title> 

	<style type="text/css" media="screen"> 
		body { 
			background-color: skyblue; 
			text-decoration-color: white; 
		} 
	</style> 
</head> 

<body> 
	<center><h1>This is a static home page.</h1></center> 
</body> 
</html>