<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <title>Login</title>
</head>


<body>
    <div class="v14_116">
        <!-- <div class="v14_117"></div>
        <span class="v14_118">username:</span>
        <span class="v14_119">password:</span>
        <span class="v14_121">don’t have an account?</span> -->
<!-- 
        <div class="v14_122"></div>
        <div class="v14_123"></div>
        <div class="v14_125"></div>
        <span class="v14_126">Log In!</span> -->
        <!-- <div class="v14_127"></div> -->

        <form action="" method="post">
            <!-- user input-->
            Username:<br>
            <input type="text" name="username" placeholder="Username" required><br><br>
            Password:<br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <!-- submit button -->
            <input type="submit" value="login">
          </form>
    </div>
</body>

</html>