<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>Checkout</title>
    </head>
    <body>
        <p>this is my view product page xd</p>
        <img src="/images/cow.gif" width="100" height="100">
        <img src="/images/cow.gif" width="100" height="100">
        <img src="/images/cow.gif" width="100" height="100">
    </body>
</html>